@import './null-style.css';

@font-face {
	font-family: ProximaNova;
	font-display: swap;
	src: url(../fonts/ProximaNova-Semibold.woff2) format('woff2'),
		url(../fonts/ProximaNova-Semibold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}
body,
html {
	height: 100%;
	font-family: ProximaNova;
	background: #fff;
	font-weight: 600;
}
body.lock,
html.lock {
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	z-index: 1;
}
.btn {
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	width: 260px;
	height: 50px;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#fcad43),
		to(#fb9834)
	);
	background: -o-linear-gradient(top, #fcad43 0, #fb9834 100%);
	background: linear-gradient(180deg, #fcad43 0, #fb9834 100%);
	-webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	position: relative;
}
.btn-2 {
	top: 5px;
}
.btn img {
	position: absolute;
	right: 13px;
	top: 50%;
	-webkit-transform: translateY(-54%);
	-ms-transform: translateY(-54%);
	transform: translateY(-54%);
}
.arrow {
	position: fixed;
	bottom: 30px;
	right: 20px;
	z-index: 15;
	opacity: 0.8;
}
.arrow img {
	width: 40px;
	height: 40px;
}
.header {
	position: relative;
}
.header__bg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}
.header__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.header-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 48px 0;
}
.header-top__logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.header-top__logo img {
	max-height: 31px;
	max-width: 97px;
	margin-right: 5px;
}
.header-top__logo span {
	color: #2e75b3;
}
.header-top__logo-2 {
	margin-right: 42px;
}
.header-top__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.header-top__link {
	margin: 0 4px;
	color: rgba(255, 255, 255, 0.9);
	line-height: 18px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.header-top__link img {
	margin-right: 8px;
	position: relative;
	top: 3px;
}
.header-top__contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.header-top__socials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	top: 5px;
}
.header-top__sosial {
	margin-right: 10px;
}
.header-top__num {
	font-weight: 700;
	font-size: 30px;
	color: #e8e9e9;
	white-space: nowrap;
}
.header-top__num span {
	font-size: 16px;
	color: #a7a8a0;
	margin-right: 5px;
}
.header-top__request {
	color: #2e75b3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-decoration: underline;
}
.header-top-2 {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.menu__icon {
	position: relative;
	width: 25px;
	height: 20px;
	top: 0;
	right: 0;
	margin-left: 16px;
	z-index: 5;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.menu__icon span,
.menu__icon::after,
.menu__icon::before {
	left: 0;
	position: absolute;
	height: 20%;
	width: 100%;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	background: #cac63b;
}
.menu__icon::after,
.menu__icon::before {
	content: '';
}
.menu__icon::before {
	top: 0;
}
.menu__icon::after {
	bottom: 0;
}
.menu__icon span {
	top: 50%;
	-webkit-transform: scale(1) translateY(-50%);
	-ms-transform: scale(1) translateY(-50%);
	transform: scale(1) translateY(-50%);
}
.menu__icon.active p {
	opacity: 1;
	visibility: visible;
}
.menu__icon.active span {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.menu__icon.active::before {
	background: red;
	top: 47.5%;
	-webkit-transform: rotate(-45deg) translateY(-50%);
	-ms-transform: rotate(-45deg) translateY(-50%);
	transform: rotate(-45deg) translateY(-50%);
	right: 5px;
}
.menu__icon.active::after {
	background: red;
	bottom: 47.5%;
	-webkit-transform: rotate(45deg) translateY(50%);
	-ms-transform: rotate(45deg) translateY(50%);
	transform: rotate(45deg) translateY(50%);
	right: 5px;
}
.menu__icon p {
	line-height: 22px;
	color: rgba(255, 255, 255, 0.8);
	opacity: 0;
	visibility: hidden;
	position: relative;
	right: 30px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-size: 16px;
}
.header-block1 {
	padding-bottom: 130px;
	padding-left: 120px;
	padding-top: 35px;
}
.header-block1__label {
	font-weight: 400;
	font-size: 22px;
	line-height: 22px;
	color: #9a9a9a;
	margin-bottom: 10px;
	opacity: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: 0.8s 0.3s;
	-o-transition: 0.8s 0.3s;
	transition: 0.8s 0.3s;
}
.header-block1__label.active {
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.header-block1__title {
	margin-bottom: 14px;
	font-weight: 700;
	font-size: 64px;
	line-height: 64px;
	color: #fff;
	opacity: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.header-block1__title.active {
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.header-block1__mini-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 30px;
	opacity: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: 0.8s 0.6s;
	-o-transition: 0.8s 0.6s;
	transition: 0.8s 0.6s;
}
.header-block1__mini-flex.active {
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.header-block1__num {
	color: #c0bb3b;
	font-size: 130px;
	font-weight: 700;
	margin-right: 23px;
}
.header-block1__num-text {
	color: #c0bb3b;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
}
.header-block1__list {
	opacity: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: 0.8s 0.3s;
	-o-transition: 0.8s 0.3s;
	transition: 0.8s 0.3s;
}
.header-block1__list.active {
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.header-block1__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	color: #e5e5e5;
}
.header-block2 {
	padding-bottom: 70px;
	padding-left: 120px;
	opacity: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: 0.8s 0.9s;
	-o-transition: 0.8s 0.9s;
	transition: 0.8s 0.9s;
}
.header-block2.active {
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.header-block2__text {
	max-width: 490px;
	font-size: 18px;
	line-height: 18px;
	color: #9a9a9a;
	margin-bottom: 26px;
}
.header-block2__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header-block2__body {
	height: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid #cac63b;
	border-radius: 10px;
	margin-right: 16px;
	padding: 0 8px;
}
.header-block2__img {
	margin-top: 16px;
}
.header-block2__info {
	font-size: 15px;
	line-height: 15px;
	color: #cac63b;
	margin-bottom: 10px;
}
.header-block2__info-m {
	border-top: 1px solid #cac63b;
	padding-top: 10px;
}
.header-block3 {
	position: relative;
	padding: 22px 0;
}
.header-block3__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header-block3__logo img {
	max-width: 100%;
	min-width: 157px;
}
.header-block3__text {
	text-align: center;
}
.header-block3__label {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: #eee;
	margin-bottom: 6px;
}
.header-block3__address {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 400;
	line-height: 16px;
	color: #999;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.header-block3__address img {
	margin-right: 11px;
}
.header-block3__img img {
	max-width: 100%;
	min-width: 80px;
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	margin-right: 10px;
}
.header-block3__bg img {
	width: 200%;
	height: 70%;
	top: 15%;
	left: -50%;
	position: absolute;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: -1;
}
.header-bottom {
	padding: 14px 0;
	position: relative;
}
.header-bottom-2 {
	display: block;
}
.header-bottom::before {
	background: #27283d;
	content: '';
	width: 200%;
	height: 100%;
	top: 0;
	left: -50%;
	position: absolute;
	z-index: -1;
}
.header-bottom__nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 15px;
}
.header-bottom__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	top: 7px;
}
.header-bottom__link {
	font-size: 14px;
	line-height: 14px;
	color: #ccc;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 10px;
}
.header-bottom__link-2 img {
	margin-right: 12px;
}
.header-bottom__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.header-menu {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	z-index: 2;
	overflow-x: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.header-menu.active {
	opacity: 1;
	visibility: visible;
	left: 0;
}
.header-menu__nav {
	padding: 100px 0 0 4%;
	display: -ms-grid;
	display: grid;
	grid-template: repeat(2, auto) / repeat(4, auto);
}
.header-menu__list {
	padding: 0 10px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	margin-bottom: 30px;
}
.header-menu__label {
	line-height: 14px;
	color: rgba(255, 255, 255, 0.9);
	margin-bottom: 16px;
}
.header-menu__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #30a2ca;
	position: relative;
	padding-left: 17px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.header-menu__link::before {
	content: '';
	background: #00b300;
	width: 8px;
	height: 8px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	border-radius: 50%;
}
.block1__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.block1__content {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding-right: 79px;
}
.block1c {
	padding: 88px 0 43px;
}
.block1c__title {
	font-size: 36px;
	line-height: 36px;
	color: #000;
	margin-bottom: 6px;
}
.block1c__label {
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	color: #000;
	margin-bottom: 20px;
}
.block1c__text {
	font-weight: 400;
	font-size: 17px;
	line-height: 20px;
	color: #7a7a7a;
}
.block1c__text p {
	margin-bottom: 20px;
}
.block1c__link {
	color: #2e75b3;
	font-size: 16px;
}
.block2c {
	text-align: center;
	padding: 19px 0 37px;
	position: relative;
}
.block2c__title {
	font-size: 32px;
	line-height: 32px;
	color: #000;
	margin-bottom: 6px;
}
.block2c__text {
	max-width: 800px;
	margin: 0 auto;
	font-weight: 400;
	font-size: 17px;
	line-height: 19px;
	color: #7a7a7a;
}
.block2c__text-2 {
	padding: 0 15px;
}
.block2c__img img {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	max-width: 100%;
}
.block3c {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -20px;
}
.block3c__flex {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
}
.block3c__item {
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 20px;
	padding: 20px;
	-webkit-box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
	box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	border: 2px solid transparent;
}
.block3c__item-l {
	background: 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.block3c__body {
	margin-right: 30px;
}
.block3c__title {
	font-size: 22px;
	line-height: 22px;
	color: #2e75b3;
	margin-bottom: 10px;
}
.block3c__text {
	font-size: 17px;
	line-height: 19px;
	color: #7a7a7a;
}
.block3c__img img {
	max-height: 160px;
	max-width: 160px;
}
.block3c__title-b {
	color: #000;
}
.block3c__link {
	font-size: 17px;
	line-height: 17px;
	color: #2e75b3;
	margin-top: 20px;
	display: inline-block;
}
.block4c {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	margin: -3px;
	padding-bottom: 130px;
}
.block4c__item {
	padding: 0 3px;
}
.block4c__img {
	position: relative;
	right: 15px;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.block4c__img.active {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.block4c__img img {
	max-width: 100%;
}
.block4c__label {
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	color: #000;
	max-width: 200px;
	margin: 0 auto;
}
.block5c__grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: auto 15px auto 15px auto;
	-ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
	grid-template: repeat(3, auto) / repeat(4, 1fr);
	gap: 15px;
	padding-bottom: 63px;
}
.block5c__item {
	position: relative;
	border-radius: 10px;
	padding: 20px;
	border: 3px solid #6d6b00;
	border: 3px solid transparent;
}
.block5c__item-1 {
	background: #eaeeef;
	padding: 0;
	-ms-grid-row: 1;
	grid-row-start: 1;
	-ms-grid-row-span: 1;
	grid-row-end: 2;
	-ms-grid-column: 1;
	grid-column-start: 1;
	-ms-grid-column-span: 4;
	grid-column-end: 5;
}
.block5c__item-2 {
	background: #b9ccea;
	-ms-grid-row: 2;
	grid-row-start: 2;
	-ms-grid-row-span: 1;
	grid-row-end: 3;
	-ms-grid-column: 1;
	grid-column-start: 1;
	-ms-grid-column-span: 1;
	grid-column-end: 2;
}
.block5c__item-3 {
	background: #f1d3b4;
	-ms-grid-row: 2;
	grid-row-start: 2;
	-ms-grid-row-span: 1;
	grid-row-end: 3;
	-ms-grid-column: 2;
	grid-column-start: 2;
	-ms-grid-column-span: 1;
	grid-column-end: 3;
}
.block5c__item-4 {
	padding-bottom: 100%;
	-ms-grid-row: 2;
	grid-row-start: 2;
	-ms-grid-row-span: 2;
	grid-row-end: 4;
	-ms-grid-column: 3;
	grid-column-start: 3;
	-ms-grid-column-span: 2;
	grid-column-end: 5;
	-webkit-box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
	box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
}
.block5c__item-4 img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 10px;
	-o-object-fit: cover;
	object-fit: cover;
}
.block5c__item-5 {
	background: #cfbbc2;
	-ms-grid-row: 3;
	grid-row-start: 3;
	-ms-grid-row-span: 1;
	grid-row-end: 4;
	-ms-grid-column: 1;
	grid-column-start: 1;
	-ms-grid-column-span: 2;
	grid-column-end: 3;
}
.block5c__body {
	max-width: 520px;
	padding: 33px;
	position: relative;
	z-index: 1;
}
.block5c__title {
	font-size: 24px;
	line-height: 24px;
	color: #000;
	margin-bottom: 11px;
	font-weight: 700;
}
.block5c__title-w {
	color: #fff;
	margin-bottom: 30%;
}
.block5c__title-n {
	margin-bottom: 30px;
}
.block5c__label {
	font-weight: 700;
	font-size: 17px;
	line-height: 19px;
	color: #a8bf31;
	margin-bottom: 18px;
}
.block5c__text {
	font-weight: 400;
	font-size: 17px;
	line-height: 19px;
	color: #7a7a7a;
}
.block5c__img img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 10px;
}
.block5c__image {
	text-align: center;
}
.block5c__image img {
	max-width: 100%;
}
.block5c__btn {
	padding-bottom: 80px;
}
.block5c__link {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 14px 10px 14px 27px;
	border: 1px solid #7bb058;
	-webkit-filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.1));
	filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.1));
	border-radius: 25px;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.block5c__link span {
	line-height: 14px;
	color: #000;
	margin-right: 14px;
}
.block5c__link img {
	background: #fcb361;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	bottom: 1px;
}
.aside {
	padding-top: 96px;
}
.aside__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	color: #000;
	margin-bottom: 16px;
}
.aside__img {
	background: 0 0;
	margin-bottom: 16px;
	display: inline-block;
}
.aside__img img {
	border-radius: 10px;
	max-width: 100%;
}
.spoiler {
	margin-bottom: 40px;
}
.spoiler__item {
	border-bottom: 1px solid #cec0c0;
}
.spoiler__title {
	background: 0 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 36px;
	color: #2e75b3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.spoiler__title picture {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.spoiler__title img {
	margin-right: 13px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.spoiler__title.active img {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.spoiler__list {
	padding-left: 18px;
	padding-bottom: 25px;
}
.spoiler__link {
	color: #2e75b3;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	position: relative;
	padding-left: 16px;
}
.spoiler__link::before {
	background: #00b300;
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	border-radius: 50%;
}
.block2 {
	position: relative;
	text-align: center;
	padding: 30px 15px;
}
.block2__title {
	font-size: 32px;
	line-height: 32px;
	color: #fff;
	margin: 0 0 4px 0;
}
.block2__label {
	font-size: 17px;
	line-height: 17px;
	margin-bottom: 50px;
	color: rgba(255, 255, 255, 0.8);
}
.block2__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.block2__input {
	text-align: left;
	color: #fff;
}
.block2__input:nth-child(1) input {
	background: #fff;
	background: url(../img/icons/Users.svg) 12px center no-repeat;
}
.block2__input:nth-child(2) input {
	background: #fff;
	background: url(../img/icons/phone.svg) 12px center no-repeat;
}
.block2__input input {
	margin: 0 13px 10px;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	width: 263px;
	height: 42px;
	padding: 12px 10px 13px 38px;
}
.block2__input input::-webkit-input-placeholder {
	font-weight: 400;
	line-height: 17px;
	color: #b3b3b3;
}
.block2__input input:-ms-input-placeholder {
	font-weight: 400;
	line-height: 17px;
	color: #b3b3b3;
}
.block2__input input::-ms-input-placeholder {
	font-weight: 400;
	line-height: 17px;
	color: #b3b3b3;
}
.block2__input input::-moz-placeholder {
	font-weight: 400;
	line-height: 17px;
	color: #b3b3b3;
}
.block2__input input::placeholder {
	font-weight: 400;
	line-height: 17px;
	color: #b3b3b3;
}
.block2__text {
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 6px;
	padding-left: 13px;
}
.block2__text:last-child {
	margin-bottom: 0;
	max-width: 540px;
	margin: 0 auto;
	padding-left: 0;
}
.block2__bg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: -1;
}
.block3 {
	padding: 60px 0 150px;
}
.block3__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.block3__video {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}
.block3__video iframe {
	max-width: 100%;
}
.block3__body {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	padding-top: 20px;
	padding-left: 123px;
}
.block3__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #000;
	margin-bottom: 6px;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	opacity: 0;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.block3__title.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
.block3__text {
	font-weight: 400;
	font-size: 17px;
	line-height: 21px;
	color: #7a7a7a;
	margin-bottom: 35px;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	opacity: 0;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.block3__text.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
.block3__text:last-child {
	margin-bottom: 0;
}
.block4 {
	text-align: center;
	padding-bottom: 90px;
}
.block4__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 -15px 60px;
}
.block4__link {
	padding: 0 15px;
}
.block4__link img {
	max-width: 100%;
}
.block5 {
	padding-bottom: 100px;
	position: relative;
}
.block5__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.block5__content {
	padding-left: 30px;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
}
.block5__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	color: #000;
	margin-bottom: 48px;
}
.block5__title span {
	color: #00b300;
}
.block5__btn {
	display: inline-block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.block5__img {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
}
.block5__img img {
	max-width: 100%;
}
.block5__bg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: contain;
	object-fit: contain;
	z-index: -1;
}
.block5-spoiler {
	margin-bottom: 48px;
}
.block5-spoiler__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #fff;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	max-width: 664px;
	width: 100%;
	height: 100px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-left: 47px;
	padding-right: 25px;
	text-align: left;
	border-left: 10px solid #fdce8a;
	margin-bottom: 10px;
}
.block5-spoiler__title img {
	width: 50px;
	height: 50px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.block5-spoiler__title.active img {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.block5-spoiler__content {
	padding: 12px 0 36px;
	font-weight: 400;
	font-size: 17px;
	line-height: 19px;
	color: #7a7a7a;
}
.block5-spoiler__content p {
	margin: 0 0 20px 0;
}
.block5-spoiler__content p:last-child {
	margin-bottom: 0;
}
.block6 {
	padding-bottom: 80px;
}
.block6__item {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 33.333%;
	flex: 0 1 33.333%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0 8px;
}
.block6__image {
	position: relative;
	margin-bottom: 23px;
}
.block6__img {
	padding-bottom: 60%;
	position: relative;
	overflow: hidden;
}
.block6__img img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-o-object-fit: cover;
	object-fit: cover;
}
.block6__label {
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 14px;
	color: #fff;
	width: 108px;
	height: 27px;
	background: red;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.block6__label-2 {
	background: #00579f;
}
.block6__label-3 {
	background: #00b300;
}
.block6__title {
	font-size: 22px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.9);
	margin-bottom: 16px;
}
.block6__text {
	font-weight: 400;
	font-size: 17px;
	line-height: 18px;
	color: #7a7a7a;
	margin-bottom: 16px;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.block6__text p {
	margin-bottom: 20px;
}
.block6__text p:last-child {
	margin-bottom: 0;
}
.block6__link img {
	max-width: 100%;
}
.block6__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.block6__btn {
	background: 0 0;
	font-size: 16px;
	line-height: 19px;
	color: #000;
	width: 310px;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid #7bb058;
	border-radius: 25px;
}
.block7 {
	text-align: center;
	padding-bottom: 92px;
}
.block7__title {
	font-weight: 700;
	font-size: 26px;
	line-height: 26px;
	color: #000;
	margin-bottom: 40px;
}
.block7__title span {
	color: #666;
	font-size: 20px;
}
.block7__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -9px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.block7__in {
	padding: 0 9px;
	margin-bottom: 16px;
}
.block7__text {
	margin-bottom: 6px;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	color: #666;
	text-align: left;
	display: block;
}
.block7__input {
	width: 290px;
	height: 42px;
	background: #fcfcfc;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 13px 20px 13px 38px;
}
.block7__input::-webkit-input-placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #b3b3b3;
}
.block7__input:-ms-input-placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #b3b3b3;
}
.block7__input::-ms-input-placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #b3b3b3;
}
.block7__input::-moz-placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #b3b3b3;
}
.block7__input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #b3b3b3;
}
.block7__input-1 {
	background: url(../img/icons/7-Users.svg) 12px center no-repeat;
}
.block7__input-2 {
	background: url(../img/icons/7-phone.svg) 12px center no-repeat;
}
.block7__input-3 {
	background: url(../img/icons/7-Mail.svg) 12px center no-repeat;
}
.block7__textarea {
	background: #fcfcfc;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	max-width: 852px;
	width: 100%;
	height: 144px;
	margin-bottom: 48px;
	resize: none;
	padding: 10px 15px;
	font-size: 18px;
}
.block7__btn {
	display: block;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
	margin-bottom: 16px;
}
.block7__info {
	max-width: 540px;
	margin: 0 auto;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	color: #b3b3b3;
}
.block8__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.block8__map {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
	position: relative;
	padding-bottom: 22%;
}
.block8__map iframe {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	-o-object-fit: cover;
	object-fit: cover;
}
.block8__img {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
	position: relative;
}
.block8__img img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	-o-object-fit: cover;
	object-fit: cover;
}
.footer {
	position: relative;
	padding-top: 94px;
}
.footer__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 60px;
}
.footer__column {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
}
.footer__logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 12px;
}
.footer__logo img {
	height: 31px;
}
.footer__logo span {
	color: #245d8e;
}
.footer__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: rgba(153, 153, 153, 0.7);
	max-width: 600px;
}
.footer__text p {
	margin-bottom: 15px;
}
.footer__text p:last-child {
	margin-bottom: 0;
}
.footer__label {
	font-weight: 400;
	font-size: 22px;
	line-height: 18px;
	color: rgba(153, 153, 153, 0.5);
	margin-bottom: 24px;
}
.footer__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #ccc;
}
.footer__link a {
	color: #ccc;
}
.footer__link img {
	width: 14px;
	margin-right: 14px;
}
.footer__socials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 52px;
}
.footer__social {
	margin-right: 6px;
}
.footer__social img {
	width: 32px;
	height: 32px;
}
.footer__copy {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	padding: 17px 0;
}
.footer__text-r {
	text-align: right;
}
.footer__bg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: -1;
}
.youtube {
	position: relative;
	padding-top: 56.24%;
	cursor: pointer;
}
.youtube svg {
	position: absolute;
	width: 78px;
	height: 58px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 1;
}
.youtube svg path {
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.youtube img {
	-o-object-fit: cover;
	object-fit: cover;
}
.youtube iframe,
.youtube img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
@media (min-width: 768px) {
	.header-top__link:hover {
		color: #cac63b;
	}
	.header-menu__list:hover .header-menu__label {
		color: #cac338;
	}
	.header-menu__list:nth-child(2) {
		-ms-grid-row: 1;
		grid-row-start: 1;
		-ms-grid-row-span: 2;
		grid-row-end: 3;
		-ms-grid-column: 2;
		grid-column-start: 2;
	}
	.header-menu__link:hover {
		color: #00b300;
	}
	.block6__flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0 -8px 48px;
	}
}
@media (min-width: 769px) {
	.block1c__link:hover {
		text-decoration: underline;
	}
	.block3c__item:hover {
		border: 2px solid #c4bd00;
	}
	.block4c__item:nth-child(2) .block4c__img {
		-webkit-transition-delay: 0.3s;
		-o-transition-delay: 0.3s;
		transition-delay: 0.3s;
	}
	.block4c__item:nth-child(3) .block4c__img {
		-webkit-transition-delay: 0.6s;
		-o-transition-delay: 0.6s;
		transition-delay: 0.6s;
	}
	.block4c__item:nth-child(4) .block4c__img {
		-webkit-transition-delay: 0.9s;
		-o-transition-delay: 0.9s;
		transition-delay: 0.9s;
	}
	.block5c__item:hover {
		border: 3px solid #6d6b00;
	}
	.spoiler__link:hover {
		color: #00b300;
	}
	.block6__img:hover img {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.youtube:hover svg path {
		fill: red;
	}
}
@media (min-width: 1100px) {
	.header-bottom {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
@media (min-width: 1300px) {
	.block1__aside {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 341px;
		flex: 0 0 341px;
	}
}
@media (max-width: 1500px) {
	.header-block1 {
		padding-bottom: calc(35px + (130 - 35) * ((100vw - 320px) / (1500 - 320)));
		padding-left: calc(5px + (120 - 5) * ((100vw - 320px) / (1500 - 320)));
	}
	.header-block1__title {
		line-height: calc(38px + (64 - 38) * ((100vw - 320px) / (1500 - 320)));
		font-size: calc(26px + (64 - 26) * ((100vw - 320px) / (1500 - 320)));
	}
	.header-block1__mini-flex {
		margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1500 - 320)));
	}
	.header-block1__num {
		font-size: calc(60px + (130 - 60) * ((100vw - 320px) / (1500 - 320)));
		margin-right: calc(10px + (23 - 10) * ((100vw - 320px) / (1500 - 320)));
	}
	.header-block1__num-text {
		font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1500 - 320)));
	}
	.header-block2 {
		padding-left: calc(5px + (120 - 5) * ((100vw - 320px) / (1500 - 320)));
	}
	.block3__body {
		padding-left: calc(15px + (70 - 15) * ((100vw - 320px) / (1500 - 320)));
	}
}
@media (max-width: 1280px) {
	.header-top__logo span {
		display: none;
	}
	.header-top__num {
		font-size: 22px;
	}
}
@media (max-width: 1279px) {
	.block1__content {
		padding-right: 0;
	}
	.block1__flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.aside {
		padding-top: 30px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.aside__spoilers {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		padding-right: 20px;
	}
	.aside__images {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		gap: 15px;
	}
	.block5__content {
		padding-left: 0;
		-webkit-box-flex: 0;
		-ms-flex: 0 1 100%;
		flex: 0 1 100%;
	}
	.block5__img {
		display: none;
	}
	.block5-spoiler__title {
		padding-left: 10px;
	}
}
@media (max-width: 1023px) {
	.header-block3__label {
		font-size: 14px;
	}
	.header-bottom__list {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.header-bottom__links {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-top: 10px;
	}
	.header-menu__nav {
		padding: 50px 0 0 4%;
		grid-template: repeat(4, auto) / repeat(2, auto);
	}
	.block1c {
		padding: 28px 0;
	}
	.block1c__title {
		font-size: 26px;
		line-height: 26px;
		margin-bottom: 10px;
	}
	.block1c__label {
		font-size: 15px;
		line-height: 15px;
		margin-bottom: 15px;
	}
	.block1c__text {
		font-size: 14px;
		line-height: 16px;
	}
	.block1c__text p {
		margin-bottom: 15px;
	}
	.block3c {
		display: block;
		margin: 0;
	}
	.block3c__item {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin-bottom: 20px;
		padding: 15px;
	}
	.block3c__body {
		margin-right: 0;
	}
	.block3c__title {
		font-size: 16px;
		line-height: 16px;
	}
	.block3c__text {
		font-size: 14px;
		line-height: 14px;
	}
	.block8__map {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%;
		padding-bottom: 30%;
	}
	.block8__img {
		display: none;
	}
}
@media (max-width: 768px) {
	.header-top {
		padding: 30px 0;
	}
	.header-top__logo span {
		display: inline-block;
	}
	.header-top__nav {
		display: none;
	}
	.header-block3__text {
		text-align: left;
	}
	.header-block3__img {
		display: none;
	}
	.block4c {
		padding-bottom: 30px;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.block4c__item {
		margin-bottom: 30px;
	}
	.block4c__label {
		font-size: 14px;
		line-height: 14px;
	}
	.block3 {
		padding: 30px;
	}
}
@media (max-width: 767px) {
	.header-top {
		padding: 20px 0;
	}
	.header-block2 {
		padding-bottom: 25px;
	}
	.header-block3 {
		display: none;
	}
	.header-bottom {
		display: none;
	}
	.header-bottom__link-2 {
		margin-top: 5px;
	}
	.header-bottom__link-3 {
		display: none;
	}
	.header-bottom__links {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.header-menu__nav {
		padding: 30px 0 0 4%;
		grid-template: repeat(7, auto) / repeat(1, auto);
	}
	.block2c__title {
		font-size: 22px;
		line-height: 22px;
		margin-bottom: 10px;
	}
	.block2c__text {
		font-size: 14px;
		line-height: 15px;
	}
	.block5c__btn {
		padding-bottom: 25px;
	}
	.block5c__grid {
		-ms-grid-rows: auto 10px auto 10px auto 10px auto 10px auto;
		-ms-grid-columns: 1fr 10px 1fr;
		grid-template: repeat(5, auto) / repeat(2, 1fr);
		padding-bottom: 30px;
		gap: 10px;
	}
	.block5c__item {
		padding: 10px;
	}
	.block5c__item-1 {
		padding: 0;
		-ms-grid-row: 1;
		grid-row-start: 1;
		-ms-grid-row-span: 1;
		grid-row-end: 2;
		-ms-grid-column: 1;
		grid-column-start: 1;
		-ms-grid-column-span: 2;
		grid-column-end: 3;
	}
	.block5c__item-4 {
		padding-bottom: 80%;
		-ms-grid-row: 4;
		grid-row-start: 4;
		-ms-grid-row-span: 2;
		grid-row-end: 6;
		-ms-grid-column: 1;
		grid-column-start: 1;
		-ms-grid-column-span: 2;
		grid-column-end: 3;
	}
	.block5c__body {
		padding: 13px;
	}
	.block5c__title {
		font-size: 18px;
		line-height: 17px;
	}
	.block5c__label {
		font-size: 15px;
		line-height: 17px;
	}
	.block5c__text {
		font-size: 15px;
		line-height: 17px;
	}
	.block5c__img {
		display: none;
	}
	.aside {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.aside__spoilers {
		padding-right: 0;
	}
	.block2__title {
		font-size: 22px;
		line-height: 22px;
		margin: 0 0 14px 0;
	}
	.block3__flex {
		display: block;
	}
	.block3__video iframe {
		height: 161px;
	}
	.block3__body {
		padding-left: 0;
	}
	.block3__title {
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 0;
	}
	.block3__text {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 11px;
	}
	.block4 {
		padding-bottom: 50px;
	}
	.block4__flex {
		margin: 0 0 20px;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.block4__link {
		padding: 0 10px;
		margin: 5px 0;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333%;
		flex: 0 0 33.333%;
	}
	.block4__link img {
		max-width: 100%;
	}
	.block5 {
		padding-bottom: 30px;
	}
	.block5__title {
		margin-bottom: 25px;
		font-size: 20px;
		line-height: 20px;
	}
	.block6 {
		padding-bottom: 40px;
	}
	.block6__item {
		margin-bottom: 35px;
		padding: 0;
	}
	.block7 {
		padding-bottom: 30px;
	}
	.footer {
		padding-top: 34px;
	}
	.footer__flex {
		display: block;
		margin-bottom: 30px;
	}
	.footer__column {
		margin-bottom: 25px;
	}
	.footer__text {
		font-size: 14px;
		line-height: 14px;
	}
	.footer__label {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.footer__link {
		font-size: 14px;
		line-height: 14px;
	}
	.footer__socials {
		margin-bottom: 32px;
	}
	.footer__copy {
		display: block;
		text-align: center;
	}
	.footer__text-r {
		margin-top: 20px;
		text-align: center;
	}
}
@media (max-width: 600px) {
	.header-top__logo span {
		display: none;
	}
}
@media (max-width: 425px) {
	.block8__map {
		padding-bottom: 63%;
	}
}
@media (max-width: 424px) {
	.header-top__socials {
		display: none;
	}
	.header-block1__info {
		font-size: 14px;
		line-height: 24px;
	}
	.header-block2__info {
		font-size: 11px;
	}
	.block3c__item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin: 0;
	}
	.block3c__img {
		margin-top: 15px;
	}
	.aside__images {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%;
	}
	.aside__images img {
		width: 100%;
	}
}
@media (max-width: 374px) {
	.header-top__num {
		font-size: 18px;
	}
}
.header-menu {
	background: url(../img/bg-header.webp) center/cover no-repeat;
}
